[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.8"

[scripts]
setup = "pwsh ./scripts/dev-install.ps1"
